/* CARD CONTAINER */
#cardContainer{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
/* CARDS */
.card{
  margin: 1em; 
  width: 15%;
}
#logo-container{
  height: 75px;
  width: 75px;
}
#logo{
  height: auto;
  width: 100%; 
}
header{
  height: 300px;
  width: 100%;
  background-image: url("../img/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
