/* CARD CONTAINER */
#cardContainer{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
/* CARDS */
.card{
  margin: 1em; 
  width: 15%;
}
#logo-container{
  height: 100px;
  width: 100px;
}
#logo{
  height: auto;
  width: 100%; 
}

